nav {
  display: flex;
  border-bottom-width: 0px;
  justify-content: space-between;
  align-items: center;
}
.ecommerce-nav{
  display: flex;
  align-items: center;
}

nav a {
  padding: 20px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
